/* styles/AdminPage.module.css */

.buttonContainer {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.actionButton {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.actionButton:hover {
    background-color: #0056b3;
}

.startElectionButton {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.startElectionButton:hover {
    background-color: #218838;
}